@model IEnumerable<WebHospital.Models.Doctor>
<h2>Все доктора</h2>

<a asp-action="Create" class="btn btn-success">Добавить доктора</a>

<table class="table table-striped mt-2">
    <thead>
        <tr>
            <td>ID</td>
            <td>Имя</td>
            <td>Возраст</td>
            <td>Адрес</td>
            <td>СНИЛС</td>
            <td>Полис</td>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.FullName</td>
            <td>@item.Age</td>
            <td>@item.Address</td>
            <td>@item.SNILS</td>
            <td>@item.Policy</td>
            <td><a asp-action="Details" asp-controller="Doctors" asp-route-id="@item.Id">Подробнее</a></td>
            <td><a asp-action="Edit" asp-controller="Doctors" asp-route-id="@item.Id">Изменить</a></td>
            <td><a asp-action="Delete" asp-controller="Doctors" asp-route-id="@item.Id">Удалить</a></td>
        </tr>
    }
</table>
