@model IEnumerable<WebHospital.Models.Appointment>
<h2>Запись</h2>

<p>
    @Html.ActionLink("Добавить запись", "Create")
</p>

<table class="table table-striped">
    <thead>
           <tr>
                <td>Доктор</td>
                <td>Клиент</td>
                <td>Дата</td>
            </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(ModelItem => item.Doctor.FullName)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => item.Client.FullName)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => item.Date)
            </td>
            <td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>    
            </td>
        </tr>
    }
</table>
